body {
    font-family: 'IBM Plex Serif', serif;
    color: rgb(51, 42, 46);
    background: url("../images/background.jpg");
  }
 
.wrapper {
  width: 1200px;
  margin: auto;
  padding: 30px;
}

.navbar-header {
  color: rgb(51, 42, 46);
  font-weight: bold;
}

.active {
  color: rgb(51, 42, 46);
  font-weight: bold;
}

#main-section {
  background: rgb(253, 212, 251);
  padding: 20px;
  border: 2px solid rgb(51, 42, 46);
}

#panel-heading, {
  background: rgb(253, 212, 251);
  padding: 20px;
}

.container-fluid {
  background:  rgb(253, 212, 251);
  border: 2px solid rgb(51, 42, 46);
}

.panel-body {
  background: rgb(253, 212, 251);
}
.fa-linkedin,
.fa-github,
.fa-stack-overflow {
  padding: 10px;
  margin-left: 15%;
}

.panel {
  border: 2px solid rgb(51, 42, 46);
}

.panel-title {
  font-weight: bold;
}

h1,
h2,
h3, {
  font-weight: bold;
}

.caption {
  font-weight: bold;
}

.thumbnail {
  background: rgb(152, 151, 153);
  width: 100%;

}

footer {
  padding: 20px;
}
.text-uppercase {
  font-weight: bold;
}

/* still need to fix portfolio page with right margins. */
/* need to create border around "connect with me" box. */
/* having trouble with the images on portfolio paget to size down when page is minimized. */